@font-face {
   font-family: "Open Sans";
   font-weight: 400;
   src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
   font-family: "Open Sans";
   font-weight: 600;
   src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
   font-family: "Open Sans";
   font-weight: 700;
   src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
   font-family: "Open Sans";
   font-weight: 800;
   src: url('../fonts/OpenSans-ExtraBold.ttf');
}

* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.content {
   flex: 1 0 auto;
}

header {
   display: flex;
   justify-content: center;
   padding-top: 15px;
   background-color: rgb(246, 242, 242);
}

.header-nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 auto;

   width: 1250px;
   min-height: 89px;
   background-color: rgba(0, 0, 0, 0.8);
}

.header-nav a {
   display: flex;
   justify-content: center;
   align-items: center;

   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   margin-left: 5px;
   margin-right: 5px;

   letter-spacing: 0.49px;
   font-family: Open Sans;
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   color: rgb(224, 224, 224);
}
.header-nav a:hover {
   background-color: rgb(255, 63, 64);
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-intro-wrapper {
   display: flex;
   justify-content: center;
   background-color: rgb(246, 242, 242);
   width: 100%;
}
.main-intro {
   display: flex;
   justify-content: space-between;
   padding-top: 94px;
   padding-bottom: 110px;
   width: 1250px;
}
.main-intro > div {
   width: 600px;
   font-family: Open Sans;
}
.main-intro h1 {
   margin: 0;
   font-weight: 800;
   font-size: 60px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   line-height: 72px;
}
.main-intro p {
   width: 520px;
   margin-top: 15px;
   margin-bottom: 55px;

   font-size: 16px;
   line-height: 28px;
}
.contact-us {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 226px;
   height: 55px;
   font-family: Open Sans;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
   text-transform: capitalize;

   color: #E0E0E0;
   background-color: #FF2D2D;;
}
.main-intro img {
   margin-top: 10px;
}

.main-service {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 100px;
   padding-bottom: 110px;
   width: 1250px;
   font-family: Open Sans;
}
.main-service-left {
   width: 50%;
}
.main-service-left h1 {
   margin: 0;
   font-weight: bold;
   font-size: 42px;
   letter-spacing: 0.42px;
   text-transform: uppercase;
   line-height: 55px;
}
.main-service-left p {
   margin-top: 35px;

   font-size: 16px;
   line-height: 28px;
}
.main-service-rigth {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 8px;
   width: 50%;
}
.main-service-rigth > div {
   max-width: 290px;
   min-height: 260px;
   width: auto;
}
.main-service-rigth h1 {
   margin-top: 17px;
   margin-bottom: 10px;
   font-weight: 600;
   font-style: normal;
   font-size: 24px;
   letter-spacing: 0.27px;
}
.main-service-rigth p {
   font-size: 16px;
   line-height: 28px;
}

footer {
   flex: 0 0 auto;
}
.footer {
   display: flex;
   justify-content: space-around;
   align-items: center;

   box-sizing: border-box;

   padding-left: 25px;
   padding-right: 25px;
   min-height: 112px;
   width: 100%;

   font-family: Open Sans;
   font-size: 16px;

   color: #B8B8B8;
   background: #313030;
}

.socials > a {
   padding-left: 5px;
   padding-right: 5px;
}
.socials img {
   filter: brightness(5);
}

@media screen and (max-width: 1290px) {
   .main-intro {
      flex-direction: column;
      margin: 0 20px;
      width: 95%;
   }
   .main-intro > div {
      width: 100%;
   }
   .main-intro p {
      margin-bottom: 20px;
      width: 100%;
   }
   .main-intro h1 {
      word-break: break-word;
   }
   .main-service {
      flex-direction: column;
      width: 95%;
   }
   .main-service-left {
      width: 100%;
   }
   .main-service-rigth {
      width: 100%;
   }
}

@media screen and (max-width: 600px) {
   .main-intro {
   }
   .main-intro img {
      width: 275px;
      height: 178px;
   }
}
